<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlucoseTaskbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlucoseTaskbar.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="MinTarget" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MaxTarget" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="DataRefreshInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowBattery" serializeAs="String">
                <value>BothRadioButton</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="FormXPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="FormYPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceAlwaysInFront" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgramSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LockPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpeedUpDataFetching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Português (Brasil)</value>
            </setting>
        </GlucoseTaskbar.Properties.Settings>
    </userSettings>
</configuration>